@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playfair+Display&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    max-width: 1440px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


header {
    min-width: 144rem;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 77%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar {
    display: flex;
    gap: 3.5rem;
}

.navbar svg {
    margin-left: 11rem;
}

a {
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 1000;
    text-decoration: none;
    gap: 5.6rem;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-logo span {
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 1000;

    line-height: 2.3rem;
    /* 115% */
    letter-spacing: 0.15rem;
}




/* hero section */

.hero-section {
    min-width: 144rem;
    display: flex;
    padding-left: 16.5rem;
    justify-content: space-between;
}

.hero-section .hero-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-section .hero-image .hero-inf {
    width: 38.2rem;
    height: 11.4rem;
    border-radius: 1rem;
    background: #FFF;
    position: absolute;

}

.hero-section .hero-image .hero-inf h1 {
    color: #33475B;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;

    line-height: 3.6rem;
    /* 150% */
}

.hero-section .hero-image .hero-inf h2 {
    color: #87898C;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;

    line-height: 3.6rem;
    /* 225% */
}

.hero-section .hero {
    width: 59.3rem;
    height: 82.59rem;
    margin-top: 6.5rem;
    /* position: absolute; */

}

.hero-section .hero h1 {
    color: #094B72;
    font-family: 'Playfair Display', serif;
    font-size: 9rem;
    font-weight: 700;

    line-height: 10.8rem;
    letter-spacing: 0.18rem;
}


.hero-section .hero p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 158%;
    letter-spacing: 0.05rem;
    margin-bottom: 2.3rem;

}

.hero-section .hero button {
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 0.128rem;
    width: 19rem;
    height: 8rem;
    border-radius: 0.8rem;
    background: #094B72;
    margin-bottom: 11.5rem;
}

.hero-section .hero span {
    color: var(--neutral-grey-5, #8B8C8C);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 0.088rem;
}

.hero-section .hero .camp-logo {
    width: 28rem;
    height: 9.39rem;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 4rem;
}

/* hero section */


/* info section */
.info-section {
    min-width: 144rem;
    height: 78.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F7FF;
}

.description {
    width: 41.9309rem;
    height: 29.1rem;
    margin-top: -10rem;
}

.info-section .description h1 {
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0323rem;
}

.info-section .description p {
    color: var(--neutral-grey-5, #8B8C8C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 3.6rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-right: 5rem;
}


.info-section .row-box .box {
    display: flex;
    width: 25.5rem;
    padding: 2.4rem;
    flex-direction: column;
    gap: 1.8rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 3%;
}

.info-section .row-box .box h1 {
    color: var(--Text, #363940);
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
}

.info-section .row-box .box p {
    color: var(--neutral-grey-5, #8B8C8C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    /* 171.429% */
    letter-spacing: 0.03rem;
    width: 22.3rem;

}

.info-section .row-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.8rem;


}

/* info end */

/* Achievement */
.achie-section {
    min-width: 144rem;
    height: 35.6rem;
    background-image: url(img/BG.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;

}

.achie-section .heading {
    display: flex;
    width: 73rem;
    flex-direction: column;
    gap: 0.8rem;

}

.achie-section .heading h1 {
    color: var(--default-white, #FFF);
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;

    line-height: 6.4rem;
    /* 133.333% */
    letter-spacing: 0.024rem;
}

.achie-section .heading h2 {
    color: var(--default-white, #FFF);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;

    line-height: 3.2rem;
    /* 177.778% */
    letter-spacing: 0.05rem;
}

.achie-section .count {
    display: flex;
    width: 82.5;
    gap: 1.5rem;

}

.achie-section .count .count-detai {
    width: 25.5rem;
    display: flex;
    flex-direction: column;
}

.achie-section .count .count-detai h1 {
    color: var(--default-white, #FFF);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;

    line-height: 6.4rem;
    /* 133.333% */

}

.achie-section .count .count-detai span {
    color: var(--default-white, #FFF);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;

    line-height: 3.2rem;
    /* 177.778% */
    letter-spacing: 0.03rem;

}

/* Achievement */


/* section-testimonial */
.section-testimonial {
    min-width: 144rem;
    height: 61rem;
    background: #F2F7FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.1rem;


}

.section-testimonial .title {
    color: var(--neutral-grey-7, #2D2F30);
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;

    line-height: 6.4rem;
    /* 133.333% */
    letter-spacing: 0.05rem;
}

.section-testimonial .testimonials {
    display: flex;
    width: 111rem;
    gap: 4rem;
}

.section-testimonial .testimonials .test-client {
    width: 54rem;
    height: 30.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.card {
    height: 22rem;
    padding: 3.2rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);

}

.card h1 {
    color: var(--neutral-grey-8, #151617);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 155.556%;
    font-weight: 1000;
    /*  */
}

.card p {
    color: var(--neutral-grey-6, #4F4F4F);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 171.429%;
    letter-spacing: 0.05rem;

}

.section-testimonial .testimonials .test-client .client-detai {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.section-testimonial .testimonials .test-client .client-detai .client-name {
    color: var(--neutral-grey-8, #151617);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 1000;
    font-family: 'Inter', sans-serif;
    /* 155.556% */
}

.section-testimonial .testimonials .test-client .client-detai .client-info {
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;

    font-weight: 1000;
    line-height: 2.4rem;
    /* 171.429% */
}

/* section-testimonial */

/* cta */

.cta {
    min-width: 144rem;
    height: 37.4rem;
    padding-left: 11.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta h1 {
    color: var(--neutral-grey-7, #2D2F30);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Playfair Display;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-bottom: 1.5rem;
}

.cta p {
    width: 82.1rem;
    height: 12.9393rem;
    flex-shrink: 0;
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Poppins;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    /* 150% */
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}

.cta button {
    width: 21.9rem;
    height: 6.4rem;
    border-radius: 0.8rem;
    background: #094B72;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.74rem;
}

.cta button span {
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.6rem;
    /* 163.636% */
    letter-spacing: 0.05rem;
}


/* footer */
.footer_section {
    min-width: 144rem;
    height: 43.3rem;
    background: #094B72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 11.5%;
}

.footer_section img {
    width: 16.5rem;
    height: 5.4054rem;
    margin-top: -20%;
}

.footer_section .link {
    display: inline-flex;
    height: 24rem;
    align-items: flex-start;
    gap: 3rem;
}

.footer_section .link .list {
    width: 16rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

}

.footer_section .link .list h1 {
    color: var(--text-gray-100, #F4F5F7);
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H6 */
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    /* 150% */
}

.footer_section .link .list-items {
    display: flex;
    flex-direction: column;
    color: var(--text-gray-200, #EEEFF4);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    gap: 1.2rem;

}

.footer_section .link .list-items a {
    text-decoration: none;
    color: var(--text-gray-200, #EEEFF4);
}

footer {
    min-width: 144rem;
    height: 6.9374rem;
    background: #004D7B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16.5rem;
    padding-right: 16.5rem;
}

.box {
    display: flex;
    gap: 1.6rem;
}

footer .container p {
    color: var(--text-gray-300, #D9DBE1);

    /* Body / Body 2 */
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;

    line-height: 2.4rem;
    /* 171.429% */
}

footer .container a {
    text-decoration: none;
    color: var(--text-gray-300, #D9DBE1);
}

/* footer */

/* about */

/* section 1 */
.about-section {
    min-width: 144rem;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 9.7rem;
    padding-top: 14rem;
    flex-wrap: wrap;

}

.about-title {
    position: absolute;
    color: #094B72;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 1000;
    line-height: 7.2rem;
    /* 7.2rem */
    letter-spacing: 0.12rem;
    align-self: flex-start;
}

.about-descrip p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.792rem;
    /* 3.792rem */
    letter-spacing: 0.05rem;
}

.about-descrip {
    display: flex;
    width: 62.6rem;
    height: 66.7rem;
    flex-direction: column;
    justify-content: end;
    gap: 8rem;
    margin-left: 11%;

}

.about-descrip button {
    width: 19rem;
    height: 8.2597rem;
    flex-shrink: 0;
    border-radius: 0.8rem;
    background: #094B72;
    color: var(--neutral-grey-1, #F9F8F9);
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%;
    /* 2.529rem */
    letter-spacing: 0.144rem;
}

/* section 1 */

/* section 2 */

.about-service .card {
    width: 38%;
    height: 22rem;
}

.about-service {
    min-width: 144rem;
    height: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 9rem 16rem;
}

/* section 2 */
/* about */


/* services */

.services-sec {
    min-width: 144rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.74rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.ser-title{
    color: #000;
text-align: center;
font-family: 'Playfair Display',sans-serif;
font-size: 6rem;
font-weight: 700;
line-height: 7.2rem;
letter-spacing: 0.12rem;
}


.services {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.ser-card {
    width: 38.5365rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
    gap: 1.8rem;
    border-radius: 0.8rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);

}

.ser-card img {
    width: 14.6rem;
    height: 14.6rem;
}

.ser-card .service-detai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25.9rem;
    gap: 1rem;

}

.ser-card h1 {
    width: 18.1rem;
    color: var(--Text, #363940);
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.ser-card p {
    width: 29.3rem;
    color: var(--neutral-grey-5, #8B8C8C);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.03rem;
}

.ser-card button {
    width: 19rem;
    height: 8.2597rem;
    border-radius: 0.8rem;
    background: #094B72;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.144rem;
}

.image{
    display: flex;
}




/* services */