@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playfair+Display&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
}

html {
    font-size: 10px;
    max-width: 1440px;
    max-width: 1440px;    
    margin-left: auto;
    margin-right: auto;
}


header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 77%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar {
    display: flex;
    gap: 3.5rem;
}
.navbar svg{
    margin-left: 11rem;
}

.navbar a {
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 1000;
    line-height: 2.3rem;
    /* 191.667% */
    letter-spacing: 0.15rem;
    text-decoration: none;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-logo span {
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 1000;

    line-height: 2.3rem;
    /* 115% */
    letter-spacing: 0.15rem;
}

/* footer */
.footer_section{
    height: 43.3rem;
    background: #094B72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0% 11.5%;
}
.footer_section img{
    width: 16.5rem;
    height: 5.4054rem;
    margin-top: -20%;
}
.footer_section .link{
    display: inline-flex;
    height: 24rem;
    align-items: flex-start;
    gap: 3rem;
}
.footer_section .link .list{
    width: 16rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    
}
.footer_section .link .list h1{
    color: var(--text-gray-100, #F4F5F7);
font-feature-settings: 'salt' on, 'liga' off;

/* Heading / H6 */
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 150% */
}

.footer_section .link .list-items {
    display:flex;
    flex-direction:column; 
    color: var(--text-gray-200, #EEEFF4);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter',sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    gap: 1.2rem;   

}
.footer_section .link .list-items a{
    text-decoration: none;
    color: var(--text-gray-200, #EEEFF4);
}

footer {
    height: 6.9374rem;
    background: #004D7B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16.5rem;
    padding-right: 16.5rem;
}

.box {
    display: flex;
    gap: 1.6rem;
}

footer .container p {
    color: var(--text-gray-300, #D9DBE1);

    /* Body / Body 2 */
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
font-weight: 700;

    line-height: 2.4rem;
    /* 171.429% */
}
footer .container a{
    text-decoration: none;
    color: var(--text-gray-300, #D9DBE1);
}

/* footer */
