@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playfair+Display&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@100;300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

select {
    word-wrap: normal;
}

a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 11%;
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #2D2F30;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 1000;
    line-height: 2.3rem;
    letter-spacing: 0.15rem;
}
.navbar ul{
    display: flex;
    list-style: none;
    color: #2D2F30;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 1000;
    gap: 3.5rem;
}
.navbar li{
    display: block;
}
.menu{
    display: none;
}
.icon{
    display: flex;
    align-items: center;
    gap: 2rem;
}





/* hero section */

.hero-section {
width: 100%;
    display: flex;
    padding-left: 16.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-section .hero-image {
    display: flex;
    justify-content: center;
    max-width: 68rem;
}
.hero-section .hero-image img{
    width: 100%;
}
.hero-section .hero-image .hero-inf {
    width: 38.2rem;
    height: 11.4rem;
    border-radius: 1rem;
    background: #fcfcfc;
    position: absolute;
    align-self: flex-end;

}

.hero-section .hero-image .hero-inf h2 {
    color: #425d78;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
}

.hero-section .hero-image .hero-inf p {
    color: #48494a;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.6rem;
}


.hero-section .hero {
    width: 59.3rem;
    height: 82.59rem;
    margin-top: 6.5rem;
}

.hero-section .hero h1 {
    color: #094B72;
    font-family: 'Playfair Display', serif;
    font-size: 9rem;
    font-weight: 700;
    line-height: 10.8rem;
    letter-spacing: 0.18rem;
    margin: 0;
}


.hero-section .hero p {
    color: #363535;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 158%;
    letter-spacing: 0.05rem;
    margin-bottom: 5rem;

}

.hero-section .hero .button {
    color: #F9F8F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 0.128rem;
    width: 19rem;
    height: 8rem;
    border-radius: 0.8rem;
    background: #094B72;
    padding: 3rem;

}

.hero-camp {
    margin-top: 12rem;
}

.hero-section .hero span {
    color: #4a4b4b;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 0.088rem;
}

.hero-section .hero .camp-logo {
    width: 28rem;
    height: 9.39rem;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 4rem;
}

/* hero section */


/* info section */
.info-section {

    height: 78.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F2F7FF;
}

.description {
    width: 41.9309rem;
    height: 29.1rem;
    margin-top: -10rem;
}

.info-section .description h1 {
    color: #1d1d1e;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0323rem;
}

.info-section .description p {
    color: #636363;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 3.6rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-right: 5rem;
}


.info-section .row-box .box {
    display: flex;
    width: 25.5rem;
    height: 25rem;
    padding: 2.4rem;
    flex-direction: column;
    gap: 1.8rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 3%;
}

.info-section .row-box .box span {
    color: #1d1f24;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
}

.info-section .row-box .box p {
    color: #363636;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.03rem;
    width: 22.3rem;

}

.info-section .row-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.8rem;


}

/* info end */

/* Achievement */
.achie-section {

    background-color: #004D7B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;

}

.achie-section svg {
    position: absolute;
    z-index: 1;
}

.achie-section .heading {
    display: flex;
    flex-direction: column;
    z-index: 2;

}

.achie-section .heading h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 0.024rem;
}

.achie-section .heading p {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.05rem;
}

.achie-section .count {
    display: flex;
    width: 82.5rem;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 2;
}

.achie-section .count .count-detai {
    width: 25.5rem;
    display: flex;
    flex-direction: column;
}

.achie-section .count .count-detai .h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.4rem;
}

.achie-section .count .count-detai span {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.03rem;

}

/* Achievement */


/* section-testimonial */
.section-testimonial {

    height: 61rem;
    background: #F2F7FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.1rem;


}

.section-testimonial .title {
    color: #2D2F30;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.4rem;
    letter-spacing: 0.05rem;
}

.section-testimonial .testimonials {
    display: flex;
    width: 111rem;
    gap: 4rem;
}

.section-testimonial .testimonials .test-client {
    width: 54rem;
    height: 30.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.card {
    padding: 3.2rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0px 10px 20px 10px rgba(41, 41, 42, 0.07);
    position: relative;

}

.section-testimonial .card::after {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: white;
    position: absolute;
    bottom: -1rem;
    right: 50%;
    transform: translateX(50%) rotate(45deg);
}

.card .h1 {
    color: #000000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 155.556%;
    font-weight: 1000;
}

.card div {
    margin: 1rem;
}

.card p {
    color: #060505;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 171.429%;
    letter-spacing: 0.05rem;

}

.section-testimonial .testimonials .test-client .client-detai {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.section-testimonial .testimonials .test-client .client-detai .client-name {
    color: #151617;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 1000;
}

.section-testimonial .testimonials .test-client .client-detai .client-info {
    color: #2D2F30;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    font-weight: 1000;
    line-height: 2.4rem;
}

/* section-testimonial */

/* cta */

.cta {

    padding: 5rem 11.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta h1 {
    color: #2D2F30;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin-bottom: 1.5rem;
}

.cta p {
    flex-shrink: 0;
    color: #4F4F4F;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}

.cta .button {
    padding: 1.4rem 3.6rem;
    border-radius: 0.8rem;
    background: #094B72;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.74rem;
}

.cta .button span {
    color: #F9F8F9;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.6rem;
    letter-spacing: 0.05rem;
}


/* footer */
.footer_section {

   
    background: #094B72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 11.5%;
}

.footer_section .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F9F8F9;
    font-family: 'Poppins',sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: 0.15rem;
    gap: 1rem;
    align-self: start;
}


.footer_section .link {
    display: inline-flex;
    align-items: flex-start;
    gap: 3rem;
}

.footer_section .link .list {
    width: 16rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.footer_section .link .list p {
    color: #F4F5F7;
    font-family: 'Inter',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

.footer_section .link ul {
    display: flex;
    flex-direction: column;
    color: #EEEFF4;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    gap: 1.2rem;
    list-style: none;
    padding-inline-start: 0;
}


.footer_section .link ul a {
    text-decoration: none;
    color: #EEEFF4;
}

.footer {

    padding:2.2rem 11%;
    background: #004D7B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    gap: 1.6rem;
}

.footer .container p {
    color: #D9DBE1;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.footer .container a {
    text-decoration: none;
    color: #D9DBE1;
}

/* footer */

/* about */

/* section 1 */
.about-section {

    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 9.7rem;
    padding-top: 14rem;
    flex-wrap: wrap;

}

.about-title {
    position: absolute;
    color: #094B72;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 1000;
    line-height: 7.2rem;
    letter-spacing: 0.12rem;
    align-self: flex-start;
}

.about-descrip p {
    color: #4F4F4F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.792rem;
    letter-spacing: 0.05rem;
}

.about-descrip {
    display: flex;
    max-width: 62.6rem;
    height: 66.7rem;
    flex-direction: column;
    justify-content: end;
    gap: 8rem;

}

.about-descrip .button {
    width: 19rem;
    height: 8.2597rem;
    border-radius: 0.8rem;
    background: #094B72;
    color: #F9F8F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.529rem;
    letter-spacing: 0.144rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section 1 */

/* section 2 */

.about-service .card {
    max-width: 38%;
}

.about-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    gap: 9rem 10%;
    padding: 7rem 11%;
}

/* section 2 */
/* about */


/* services */

.services-sec {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.74rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.ser-title {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.2rem;
    letter-spacing: 0.12rem;
}


.services {
    display: flex;
    justify-content: space-around;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 100%;
}

.ser-card {
    width: 38.5365rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
    gap: 1.8rem;
    border-radius: 0.8rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);

}

.ser-card img {
    width: 14.6rem;
    height: 14.6rem;
}

.ser-card .service-detai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25.9rem;
    gap: 1rem;

}

.ser-card h1 {
    width: 18.1rem;
    color: #21252d;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.ser-card p {
    width: 29.3rem;
    color: #303234;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.03rem;
}

.ser-card .button {
    width: 15rem;
    height: 6rem;
    border-radius: 0.8rem;
    background: #094B72;
    color: #F9F8F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.144rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
}

/* services */

/* contact */
.co-group {
    display: flex;
    padding: 10rem 11%;
    gap: 3rem;
    /* flex-wrap: wrap; */

}

.heading-cont {
    color: #094B72;
    font-family: 'Playfair Display', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: 0.08rem;
    padding-left: 11%;
    margin-top: 6rem;
}


.contact .container .co-group form {
    /* width: 42%; */
    /* min-width: 50rem; */
    display: flex;
    flex-direction: column;

    gap: 3rem;

}

.contact .container input,
.contact .container textarea,
.contact .container select {
    width: 100%;
    padding: 1.4rem 2rem;
    font-size: 2rem;
    border: none;
    resize: none;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

label {
    color: #363940;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
}




.contact .container button {
    width: 19rem;
    height: 5.7rem;
    border-radius: 0.8rem;
    background: #094B72;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0.152rem;
}

.contact .container button {
    transition: background-color 0.3s ease;
}

.contact .container button:hover {
    background-color: #000000;
}

/* contact */